.titlebar 
{
    background-color: #808080;
    border: 1px solid black;
}

.c2
{
    background-color: #C0C0C0;
    border: 1px solid black;
}

.btn-collapse
{
    background-color: #808080;
}

.r2
{
    margin-bottom: 5px;
}

.twosessions-l
{
    width:46%;
    float:left;
    padding-left:2%;
}

.twosessions-2
{
    width: 46%;
    float:right;
}
