<div class="container">
    <div class="jumbotron text-center">
        <h2>The Theta Chapter of Phi Sigma Rho is excited to see you at this year's Regional Leadership Conference!</h2>
        
    </div>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6"><br/><br/>
                    <div class="text-center">
                    The 2014 East Region Leadership Conference will be held at the<br/>
                    <h2>
                        <strong>University of Connecticut</strong> <small>Storrs, CT</small>
                    </h2>
                    on<br/>
                        <h2>
                            <strong>October 4th</strong> <small>8:30am - 5pm</small>
                        </h2>
                        <a class="btn btn-primary" href="http://maps.uconn.edu/">Campus Map</a><br/>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6" id="map-container">
                    <iframe
                        width="400"
                        height="300"
                        frameborder="0" style="border: 0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAImJ2J8WtAEoWiMbOszGInuLsAspXNE7A
                             &q=University+of+Connecticut,+Storrs,+CT&zoom=7">
                    </iframe>
                </div>
            </div>
        </div>
    

    </div>
</div>  
