<div class="container">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel">
        <div class="item">
            <img class="img-responsive center-block" src="/img/logo.jpg" alt="..." />
            <div class="carousel-caption">
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <h1 class="text-center">Welcome to the 2014 Phi Sigma Rho East Region Leadership Conference</h1>
            <p class="text-center">October 4 at the University of Connecticut</p>
         </div>
    </div>

</div>
</div>
