<link href="css/schedule.css" rel="stylesheet">

<div class="jumbotron text-center">
		<h1>Schedule Page</h1>

		<p>{{ message }}</p>
</div>

<div class="container">
    <div class="row r2">
        <div class="col-xs-12 titlebar">
            <span>
                <button class="btn btn-xs btn-collapse" ng-click="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#session1-collapse">
                    <i ng-class="{'glyphicon glyphicon-minus': isCollapsed, 'glyphicon glyphicon-plus': !isCollapsed}"></i>
                </button>
                8:30-9:00
            </span>
        </div>
        <div id="session1-collapse" class="collapse">
            <div class="col-xs-12 c2"><p>ITE Lobby: Registration/Breakfast</p></div>
        </div>
    </div>
    <div class="row r2">
        <div class="col-xs-12 titlebar">
            <span>
                <button class="btn btn-xs btn-collapse" ng-click="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#session2-collapse">
                    <i ng-class="{'glyphicon glyphicon-minus': isCollapsed, 'glyphicon glyphicon-plus': !isCollapsed}"></i>
                </button>
                1:15-1:45
            </span>
        </div>
        <div id="session2-collapse" class="collapse">
            <div class="c2">
                <div class="twosessions-l">
                    <p>ITE 336: Living Your Ritual, Phi Sigma Rho. The sisters of Phi Sigma Rho will show how you can incorporate your ritual into your everyday life.</p>
                </div>
        
                <div class="twosessions-r">
                    <p>ITE 119: Financial Literacy, Financial Aid Staff. A lender will demystify paying off your student loans, how to maintain a good credit score, and common financial pitfalls.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--col-xs-12 col-md-6 -->
